.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  h1 {
    text-align: center;
    // max-width: 400px;
    margin-top: 20vh;
    font-size: 6vw;
  }
  .explore-link {
    font-size: 110%;
    font-weight: bold;
  }
}
