.morphing-page {
  display: flex;
  height: calc(100vh - 45px);

  #morphing-container {
    width: 50%;
    height: calc(100vh - 45px);
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    height: initial;
    width: 100vw;
    #morphing-container {
      width: 100%;
      height: calc(100vh - 45px);
    }
    #article {
      width: 100%;
    }
  }
}
